<html>
  <head>
      <META HTTP-EQUIV="Pragma" CONTENT="no-cache">
    <title>REALTIME INTELLIGENT SURVEILLANCE FOR CCTV CAMERAS</title>
       <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='home.css') }}" />

  </head>
  <body>

   <div class="head"><h1>REALTIME INTELLIGENT SURVEILLANCE FOR CCTV CAMERAS</h1></div>


    <img id="video" style="width: 600px;height: 430px;margin-left: 370px;margin-top: -50px" src="{{ url_for('cam_feed') }}">

<div class="wrap" style="margin-top: 180px;margin-left: -190px">
    <a  class="button" href={{  url_for('open_video')}} ><button>Video</button></a></div>
   <div class="wrap"style="margin-right: -300px;margin-top: 180px" >
       <a  class="button" href={{  url_for('index')}}><button>Home</button></a></div>
   <div class="wrap" style="margin-left: 10px;margin-top: 180px">
       <a  class="button" href={{  url_for('viewdata')}}><button>Recorded Data</button></a></div>

  </body>
</html>
